<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\patel\Desktop\login page\views\auth.css">


    
 </head>
<body> -->
    <button style="background-color: #000; border-radius: 10px; padding: 10px 20px;">
        <a class="bt" href='/auth/google' style="color: #FF0000; text-decoration: none;">Login With Google</a>
      </button>
<!-- </body>
</html>  -->